* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

legend {
  color: white;
  opacity: 0.8;
  margin-top: 4px;
}

label {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Roboto';
}

input {
  height: 26px;
  font-size: 24px;
  font-family: 'Roboto';
  padding: 4px;
}

input:focus {
  text-decoration: none;
  outline: none;
}

select {
  height: 38px;
  font-size: 24px;
  font-family: 'Roboto';
  padding: 2px;
}

select:focus {
  text-decoration: none;
  outline: none;
}